<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="container  " style="background-color: rgb(217, 224, 231);">
                    <div class="row ">

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="../assets/images/logo/logo.jpg" width="130" height="55" />
                                </div>
                                <div class="col-md-10">
                                    <p class="p">Syndicat National   des Enseignants <br>
                                     Fonctionnaires   des Collectivités Territoriales </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4" style="text-align: right;">
                                <p class="small-text">Liberté-Action-Solidarité <br>
                                Actuallement {{total}} militants à son actif</p>
                                
                              
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

