<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="container  " style="background-color: rgb(217, 224, 231);">
                    <div class="row ">

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../assets/images/logo/ravec.jpg" width="170" height="55" />
                                </div>
                                <div class="col-md-9">
                                    <h6 class="p">Le Recensement Administratif <br>
                                         A Vocation d’Etat Civil  </h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4" style="text-align: right;">
                                <p class="small-text">Republique du Mali <br>
                                    un Peuple-un But -une Foi <br></p>
                                
                              
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

