:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 10px;
  }
  
  img {
    width: 300px;
    margin-top: 10px;
  }
  