.bg-image {
    background-image: url('src/assets/images/logo/theme.jpg'); /* Remplacez par le chemin correct de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir le conteneur */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    background-attachment: fixed;
     /* Fixe l'image en arrière-plan, même lorsque vous faites défiler la page */
    /* Ajoutez d'autres styles personnalisés si nécessaire */
  }
  