<div class="container">
  <div class="row">
    <div class="col-md-12 mt-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1">
              <button [routerLink]="['/citoyen',citoyenCur.id]" class="btn btn-light"><i
                class="bi bi-arrow-left"></i></button>
            </div>
            <div class="col-md-10">
              <h3>Modification de Photo </h3>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
              <!-- Colonne vide pour espacement, masquée sur les petits écrans -->
              <div class="col-md-1 d-none d-md-block"></div>
      
              <!-- Webcam container -->
              <div class="col-12 col-md-5">
                  <div class="mb-3">
                      <webcam [height]="isMobile ? 240 : 480" [width]="isMobile ? 320 : 500" 
                          [trigger]="triggerObservable" (imageCapture)="handleImage($event)" 
                          *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" 
                          [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" 
                          [imageQuality]="1" 
                          (cameraSwitched)="cameraWasSwitched($event)" 
                          (initError)="handleInitError($event)">
                      </webcam>
                      <button (click)="triggerSnapshot()" type="button" class="btn btn-secondary px-4 mt-3">
                          Capter
                      </button>
                  </div>
              </div>
      
              <!-- Snapshot container -->
              <div class="col-12 col-md-6 snapshot mt-3 mt-md-0" *ngIf="webcamImage">
                  <div>
                      <image-cropper [imageBase64]="webcamImage.imageAsDataUrl" 
                          [maintainAspectRatio]="true" [aspectRatio]="4 / 4" format="png" 
                          (imageCropped)="imageCropped($event)" 
                          (imageLoaded)="imageLoaded($event)" 
                          (cropperReady)="cropperReady()" 
                          (loadImageFailed)="loadImageFailed()">
                      </image-cropper>
                      <button (click)="upload()" type="button" class="btn btn-secondary px-4 mt-3">
                          Ajouter la photo
                      </button>
                  </div>
              </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>