.actionBtn {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
  }
  
  .snapshot {
    text-align: center;
    :is(img) {
      width: 75%; height: 100%;
    }
  }
  
  ul.links {
    padding-bottom: 20px;
  }