<div class="container">
  <div class="row">
    <div class="col-md-12 mt-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1">
              <button [routerLink]="['/citoyen',citoyenCur.id]" class="btn btn-light"><i
                class="bi bi-arrow-left"></i></button>
            </div>
            <div class="col-md-10">
              <h3>Modification de Photo </h3>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="carrd-body">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                  <br/>
              <div>
                <webcam [height]="480" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                  *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                  [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
                  (initError)="handleInitError($event)"></webcam>
                <br />
                <button (click)="triggerSnapshot()" class="btn btn-secondary px-4">Capter
                </button>
                
              </div><br/>
            </div>

            <div class="col-md-6 snapshot" *ngIf="webcamImage">
              <div>
                <image-cropper [imageBase64]="webcamImage.imageAsDataUrl" [maintainAspectRatio]="true"
                  [aspectRatio]="4 / 4" format="png" (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"></image-cropper>

                <br />
                <div><button (click)="upload()" class="btn btn-secondary px-4">Ajouter la photo
                  </button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>