<div class="container">
    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header">
                    <h5>Actualites
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mt-8">
                                <div class="card">
                                    <div class="card-header" style="text-align: center;">
                                        <h5>Mot du Secretaire National
                                        </h5>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="row"><img src="../assets/images/sg.jpg" />
                                                                </div>
                                                                <p>M.Ousmane Almoudou Touré</p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="row" style="text-align: justify;">
                                                                    <p>

                                                                        À l’entame de ses propos, le toutnouveau
                                                                        secrétaire général du
                                                                        Synefct a rendu un vibrant hommage aux
                                                                        vaillants enseignants qui bravent l’insécurité
                                                                        et toutes les menaces
                                                                        pour assurer leur mission d’éducation
                                                                        dans le Centre et le septentrion de notre pays.
                                                                        « Par la même
                                                                        occasion je m’incline sur la mémoire de ceux
                                                                        qui nous ont quittés par la faute des
                                                                        terroristes, des bandits, des
                                                                        narcotrafiquants qui continuent à planer
                                                                        l’incertitude sur l’avenir de notre pays. En
                                                                        leur mémoire, je vous
                                                                        prie d’observer une minute de silence »,
                                                                        a-t-il souhaité.
                                                                        À l’entame de ses propos, le toutnouveau
                                                                        secrétaire général du
                                                                        Synefct a rendu un vibrant hommage aux
                                                                        vaillants enseignants qui bravent l’insécurité
                                                                        et toutes les menaces
                                                                        pour assurer leur mission d’éducation
                                                                        dans le Centre et le septentrion de notre pays.
                                                                        « Par la même
                                                                        occasion je m’incline sur la mémoire de ceux
                                                                        qui nous ont quittés par la faute des
                                                                        terroristes, des bandits, des
                                                                        narcotrafiquants qui continuent à planer
                                                                        l’incertitude sur l’avenir de notre pays. En
                                                                        leur mémoire, je vous
                                                                        prie d’observer une minute de silence »,
                                                                        a-t-il souhaité.

                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <br />


                                <div class="row">
                                    <div class="col-md-12 mt-8">
                                        <div class="card">
                                            <div class="card-header" style="text-align: center;">
                                                <h5>Mot du Secretaire National
                                                </h5>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="row"><img
                                                                                src="../assets/images/sg.jpg" /></div>
                                                                        <p>M.Ousmane Almoudou Touré</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="row" style="text-align: justify;">
                                                                            <p>

                                                                                À l’entame de ses propos, le toutnouveau
                                                                                secrétaire général du
                                                                                Synefct a rendu un vibrant hommage aux
                                                                                vaillants enseignants qui bravent
                                                                                l’insécurité et toutes les menaces
                                                                                pour assurer leur mission d’éducation
                                                                                dans le Centre et le septentrion de
                                                                                notre pays. « Par la même
                                                                                occasion je m’incline sur la mémoire de
                                                                                ceux
                                                                                qui nous ont quittés par la faute des
                                                                                terroristes, des bandits, des
                                                                                narcotrafiquants qui continuent à planer
                                                                                l’incertitude sur l’avenir de notre
                                                                                pays. En leur mémoire, je vous
                                                                                prie d’observer une minute de silence »,
                                                                                a-t-il souhaité.
                                                                                À l’entame de ses propos, le toutnouveau
                                                                                secrétaire général du
                                                                                Synefct a rendu un vibrant hommage aux
                                                                                vaillants enseignants qui bravent
                                                                                l’insécurité et toutes les menaces
                                                                                pour assurer leur mission d’éducation
                                                                                dans le Centre et le septentrion de
                                                                                notre pays. « Par la même
                                                                                occasion je m’incline sur la mémoire de
                                                                                ceux
                                                                                qui nous ont quittés par la faute des
                                                                                terroristes, des bandits, des
                                                                                narcotrafiquants qui continuent à planer
                                                                                l’incertitude sur l’avenir de notre
                                                                                pays. En leur mémoire, je vous
                                                                                prie d’observer une minute de silence »,
                                                                                a-t-il souhaité.

                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-12 mt-8">
                                                <div class="card">
                                                    <div class="card-header" style="text-align: center;">
                                                        <h5>Mot du Secretaire National
                                                        </h5>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="row"><img
                                                                                        src="../assets/images/sg.jpg" />
                                                                                </div>
                                                                                <p>M.Ousmane Almoudou Touré</p>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="row"
                                                                                    style="text-align: justify;">
                                                                                    <p>

                                                                                        À l’entame de ses propos, le
                                                                                        toutnouveau secrétaire général
                                                                                        du
                                                                                        Synefct a rendu un vibrant
                                                                                        hommage aux
                                                                                        vaillants enseignants qui
                                                                                        bravent l’insécurité et toutes
                                                                                        les menaces
                                                                                        pour assurer leur mission
                                                                                        d’éducation
                                                                                        dans le Centre et le septentrion
                                                                                        de notre pays. « Par la même
                                                                                        occasion je m’incline sur la
                                                                                        mémoire de ceux
                                                                                        qui nous ont quittés par la
                                                                                        faute des terroristes, des
                                                                                        bandits, des
                                                                                        narcotrafiquants qui continuent
                                                                                        à planer
                                                                                        l’incertitude sur l’avenir de
                                                                                        notre pays. En leur mémoire, je
                                                                                        vous
                                                                                        prie d’observer une minute de
                                                                                        silence »,
                                                                                        a-t-il souhaité.
                                                                                        À l’entame de ses propos, le
                                                                                        toutnouveau secrétaire général
                                                                                        du
                                                                                        Synefct a rendu un vibrant
                                                                                        hommage aux
                                                                                        vaillants enseignants qui
                                                                                        bravent l’insécurité et toutes
                                                                                        les menaces
                                                                                        pour assurer leur mission
                                                                                        d’éducation
                                                                                        dans le Centre et le septentrion
                                                                                        de notre pays. « Par la même
                                                                                        occasion je m’incline sur la
                                                                                        mémoire de ceux
                                                                                        qui nous ont quittés par la
                                                                                        faute des terroristes, des
                                                                                        bandits, des
                                                                                        narcotrafiquants qui continuent
                                                                                        à planer
                                                                                        l’incertitude sur l’avenir de
                                                                                        notre pays. En leur mémoire, je
                                                                                        vous
                                                                                        prie d’observer une minute de
                                                                                        silence »,
                                                                                        a-t-il souhaité.

                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <br />


                                                <div class="row">
                                                    <div class="col-md-12 mt-8">
                                                        <div class="card">
                                                            <div class="card-header" style="text-align: center;">
                                                                <h5>Mot du Secretaire National
                                                                </h5>
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="container">
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <div class="row"><img
                                                                                                src="../assets/images/sg.jpg" />
                                                                                        </div>
                                                                                        <p>M.Ousmane Almoudou Touré</p>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="row"
                                                                                            style="text-align: justify;">
                                                                                            <p>

                                                                                                À l’entame de ses
                                                                                                propos, le toutnouveau
                                                                                                secrétaire général du
                                                                                                Synefct a rendu un
                                                                                                vibrant hommage aux
                                                                                                vaillants enseignants
                                                                                                qui bravent l’insécurité
                                                                                                et toutes les menaces
                                                                                                pour assurer leur
                                                                                                mission d’éducation
                                                                                                dans le Centre et le
                                                                                                septentrion de notre
                                                                                                pays. « Par la même
                                                                                                occasion je m’incline
                                                                                                sur la mémoire de ceux
                                                                                                qui nous ont quittés par
                                                                                                la faute des
                                                                                                terroristes, des
                                                                                                bandits, des
                                                                                                narcotrafiquants qui
                                                                                                continuent à planer
                                                                                                l’incertitude sur
                                                                                                l’avenir de notre pays.
                                                                                                En leur mémoire, je vous
                                                                                                prie d’observer une
                                                                                                minute de silence »,
                                                                                                a-t-il souhaité.
                                                                                                À l’entame de ses
                                                                                                propos, le toutnouveau
                                                                                                secrétaire général du
                                                                                                Synefct a rendu un
                                                                                                vibrant hommage aux
                                                                                                vaillants enseignants
                                                                                                qui bravent l’insécurité
                                                                                                et toutes les menaces
                                                                                                pour assurer leur
                                                                                                mission d’éducation
                                                                                                dans le Centre et le
                                                                                                septentrion de notre
                                                                                                pays. « Par la même
                                                                                                occasion je m’incline
                                                                                                sur la mémoire de ceux
                                                                                                qui nous ont quittés par
                                                                                                la faute des
                                                                                                terroristes, des
                                                                                                bandits, des
                                                                                                narcotrafiquants qui
                                                                                                continuent à planer
                                                                                                l’incertitude sur
                                                                                                l’avenir de notre pays.
                                                                                                En leur mémoire, je vous
                                                                                                prie d’observer une
                                                                                                minute de silence »,
                                                                                                a-t-il souhaité.

                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>