<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    <a routerLink="/actualites" class="btn btn-light float-right"><i
                            class="bi bi-arrow-left"></i></a>
                </div>
                <div class="col-md-8" style="text-align: center;">
                    <h4>AJOUT ACTUALITE</h4>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 mt-8">
                                <div class="card">
                                    <div class="card-header" style="text-align: center;">
                                        <h4>Etape 1
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="formAdd" (ngSubmit)="onSubmit()">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Titre</label>
                                                        <input type="text" formControlName="titre" class="form-control"
                                                            placeholder="au moins 3 letttres ">
                                                        <p style="color: brown;"
                                                            *ngIf="!formAdd.controls['titre'].valid"> (Le remier
                                                            caractere doit etre une lettres majuscule ) </p>
                                                        <label>Contenu</label>
                                                        <textarea type="" formControlName="contenu" class="form-control"
                                                            placeholder="au moins 3 letttres "></textarea>
                                                        <p style="color: brown;"
                                                            *ngIf="!formAdd.controls['contenu'].valid"> (Le
                                                            premier caractere doit etre une lettres majuscule ) </p>

                                                    </div>
                                                    <div class="form-group card mt-2">
                                                        <button [disabled]="!formAdd.valid" type="submit"
                                                            *ngIf="etape1 " class="btn btn-success px-4">Suivant<i
                                                                class="bi bi-arrow-right"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="titre">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 mt-8">
                                    <div class="card">
                                        <div class="card-header" style="text-align: center;">
                                            <h4>Etape 2 Ajoute d'image de titre
                                            </h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row" *ngIf="!img">
                                               <div class="col-10">
                                                <label class="btn btn-default p-0">
                                                    <input type="file" (change)="onFileSelected($event)" />
                                                </label>
                                               </div>

                                               <div class="col-2">
                                                <button class="btn btn-success btn-sm" [disabled]="!selectedFile"
                                                    (click)="uploadTitre()">
                                                    Ajouter
                                                </button>
                                               </div>
                                            </div>
                                            <div class="card mt-2">
                                                <div *ngIf="message" class="alert alert-secondary" role="alert">
                                                    <p>{{message}}</p>
                                                </div> 
                                            </div>
                                            <div class="card mt-2">
                                                <button class="btn btn-success px-4" *ngIf="img"
                                                    (click)="goToEtape3()">Suivant
                                                    <i class="bi bi-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="!titre && img">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 mt-8">
                                    <div class="card">
                                        <div class="card-header" style="text-align: center;">
                                            <h4>Etape 3 Ajout d'autre images
                                            </h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                               <div class="col-10">
                                                <label class="btn btn-default p-0">
                                                    <input type="file" (change)="onFileSelected($event)" />
                                                </label>
                                               </div>

                                               <div class="col-2">
                                                <button class="btn btn-success btn-sm" [disabled]="!selectedFile"
                                                    (click)="uploadIm()">
                                                    Ajouter
                                                </button>
                                               </div>
                                            </div>
                                            <div class="card mt-2" *ngIf="stringArray">
                                                <div  *ngFor="let m of stringArray">
                                                    <div  class="alert alert-secondary" role="alert">
                                                       <p>{{m}}</p>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="card mt-2">
                                                <button class="btn btn-success px-4" *ngIf="img"
                                                   routerLink="/actualites">Terminer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

