<div class="container">
    <div class="row">
        <div class="col-md-12 mt-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <a routerLink="/addHierachisation" class="btn btn-secondary"
                            *ngIf="user.poste =='Sécretaire Général' || user.poste == 'Admin'
                             || user.poste == 'Sécretaire Administratif'">
                            <i class="bi bi-plus"></i></a>
                        </div>
                        <div class="col-md-6">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    
                                    <input style="height: 35px; width: 250px;" type="text" [(ngModel)]="keyword" placeholder="Entrez votre mot-clé">
                                    
                                    <button class="btn btn-secondary rounded ms-2" (click)="search()"><i class="bi bi-search"></i></button>
                                    <!-- Bouton que vous voulez aligner à droite -->
                                    
                                        
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                <div class="row"*ngIf="hierachisations">
                    <div class="col-md-12 mt-6">
                        <div class="card" *ngFor="let c of hierachisations">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-1" *ngIf="user.poste =='Sécretaire Général' 
                                    || user.poste == 'Admin' || user.poste == 'Sécretaire Administratif'">
                                        <button (click)="onDelete(c.id)" class="btn btn-light"
                                    ><i class="bi bi-trash"></i></button>
                                
                                    </div>
                                    <div class="col-md-11" >
                                        <a [href]="urlDownload+c.id" title="Cliquer pour telecharger"
                                        class="btn btn-light">   
                            
                                        <h5 style="text-align: center;">
                                            {{c.name}}
                                        </h5>
                                    </a>
                                    </div>
                                
                                </div>
                                
                            </div>
        
                        </div> 
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
