<div class="container">
    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-11">
                            <h4>Espace de Gestion des Utilisateurs</h4>
                        </div>
                        <div class="col-md-1">
                            <a routerLink="/addUser" class="btn btn-secondary float-right"><i class="bi bi-plus"></i></a>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped" *ngIf="donnees">
                        <thead>

                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Roles</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of donnees">
                                <td>{{p.username}}</td>
                                <td>{{p.email}}</td>
                                <td>{{p.role}}</td>
                                
                                <td>
                                    <!-- <button [routerLink]="['/editMilitant',p.id]" class="btn btn-light"><i
                                            class="bi bi-pencil" *ngIf="user.telephone !=p.telephone && user.poste=='Sécretaire Général'
                                    || (user.division.nom==p.division.nom && p.poste!='Sécretaire Général' && user.telephone !=p.telephone &&
                                    p.poste!='Sécretaire de Coordination' && user.poste=='Sécretaire de Division')
                                    || (user.division.coordination.nom==p.division.coordination.nom && p.poste!='Sécretaire Général' && user.telephone !=p.telephone &&
                                     user.poste=='Sécretaire de Coordination')
                                     "></i></button> -->
                                    
                                </td>
                                <td>
                                    <!-- <button (click)="onDelete(p.id)" class="btn btn-light sp" *ngIf="user.telephone !=p.telephone && user.poste=='Sécretaire Général'
                                    || (user.division.nom==p.division.nom && p.poste!='Sécretaire Général' && user.telephone !=p.telephone &&
                                    p.poste!='Sécretaire de Coordination' && user.poste=='Sécretaire de Division')
                                    || (user.division.coordination.nom==p.division.coordination.nom && p.poste!='Sécretaire Général' && user.telephone !=p.telephone &&
                                     user.poste=='Sécretaire de Coordination')
                                     "><i class="bi bi-trash"></i></button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                

                    <!-- <div class="row">
                            <div class="col-md-12">
                                <ul *ngIf="pages" class="pagination float-right">
                                    <li class="page-link">Pages</li>
                                    <li class=" page-item " [ngClass]="i==currentPage? 'active' : ''" *ngFor="let p of pages; let i=index">
                                       <a class="page-link clickable sp" (click)="goToPage(i)">{{i}}</a>
                                    </li>
                                </ul>
                            </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>