/* Définissez la hauteur maximale de la table */
.card-body {
    max-height: auto; /* Vous pouvez ajuster la hauteur maximale selon vos besoins */
    overflow-y: auto; /* Ajoutez une barre de défilement verticale si nécessaire */
    overflow-x: auto; /* Ajoutez une barre de défilement horizontale si nécessaire */
  }
  
  /* Style pour la table */
  .table {
    width: 100%; /* Assurez-vous que la table prend toute la largeur du conteneur */
    border-collapse: collapse; /* Fusionnez les bordures de la table */
  }
  
  /* Style pour les cellules de la table */