<div class="container">
    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8"><h5>Actualités</h5></div>
                        <div class="col-md-4">
                            <div class="row justify-content-end">
                                <div class="col-auto" *ngIf="user.poste =='Sécretaire Général' || user.poste == 'Admin'
                                || user.poste == 'Sécretaire à la communication et aux TICS'">
                                    <a 
                                    routerLink="/addActualite" class="btn btn-secondary"><i class="bi bi-plus"></i> Ajouter</a>                                   
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <br>
                <div class="card-body" *ngIf="actualites">
                    <div class="card clickable-div" [routerLink]="['/detailsActualite',c.id]"
                     *ngFor="let c of actualites._embedded.actualites">
                        <div class="card-header">
                            <h5 style="text-align: center;">
                                {{c.titre}}
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8" *ngIf="c.imageTitre">
                                                <img [src]="urlImageTitre+c.imageTitre.id" class="img-thumbnail" alt="">
                                            </div>
                                            <div class="col-md-4">
                                                

                                                <p *ngIf="!showFullText; else fullText" style="cursor:pointer">
                                                    {{ c.contenu | slice:0:600 }}{{ c.contenu.length > 600 ? '...' : '' }}
                                                    <a href="javascript:void(0);" (click)="showFullText = true">Lire la suite</a>
                                                  </p>
                                                  <ng-template #fullText>
                                                    <p>{{ c.contenu }}</p>
                                                  </ng-template>

                                                <p style="text-align: right; cursor:pointer">Publiée le {{c.date}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-md-12">
                            <ul *ngIf="pages" class="pagination float-right">
                                <li class="page-link">Pages</li>
                                <li class=" page-item " [ngClass]="i==currentPage? 'active' : ''"
                                    *ngFor="let p of pages; let i=index" style="cursor: pointer;">
                                    <a class="page-link clickable sp" (click)="goToPage(i)">{{i}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    

</div>