<div class="container">
    <div class="row">
        <div class="col-md-12 mt-8" *ngIf="donnee coordinations coordination">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2">
                            <a [routerLink]="['/divisions',coordination.id]" class="btn btn-light float-light"><i class="bi bi-arrow-left"></i></a>
                        </div>
                        <div class="col-md-10">
                            <h4>
                                Modification de Division
                            </h4>
                        </div>
                    </div>
                </div>
                   <div class="card-body"  >
                    <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
                        <div class="row">
                           <div class="col-md-8">
                            <div class="form-group">
                                <label>Division</label>
                                <input type="text" formControlName="nom" class="form-control"  [(ngModel)]="donnee.nom">
                                <p style="color: brown;" *ngIf="!formEdit.controls['nom'].valid"> (Le remier caractere doit etre une lettres majuscule ) </p> 
                            </div>
                            <div class="form-group">
                                <label>Coordination</label>
                                <select  formControlName="coordination" class="form-control" id=""
                                    [(ngModel)]="coordination._links.self.href">
                                    <option *ngFor="let p of coordinations._embedded.coordinations"
                                        [value]="p._links.self.href">{{p.nom}} </option>
                                </select>
                            </div><br>
                               <div class="form-group sm-2">
                                <button  [disabled]="!formEdit.valid" type="submit" class="btn btn-secondary px-4">Enregistrer</button>
                            </div>
                           </div>
                       </div>
                    </form>
                   </div>
            </div>
        </div>
    </div>
</div>



