<div class="container" *ngIf="!edit">
    <div class="row">
        <div class="col-md-12 mt-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2">
                            <button (click)="OnReturn1()" class="btn btn-light"><i class="bi bi-arrow-left"></i></button>
                        </div>
                        <div class="col-md-8"><h4>{{actualite.titre}}</h4></div>
                        <div class="col-md-2">
                            <button (click)="OnEdit()" class="btn btn-light"><i class="bi bi-pencil"></i></button>
                            <button *ngIf="idAc!=actualite.id" (click)="onDelete(actualite)" class="btn btn-light"
                             ><i class="bi bi-trash"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p style="text-align: justify;">{{actualite.contenu}}</p> 
                                        <p style="text-align: right;">Publiée le {{actualite.date}}</p>
                                     </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img [src]="urlImageTitre+actualite.imageTitre.id" class="img-thumbnail" alt="">
                                        </div>
                                        <div *ngFor="let c of images._embedded.images">
                                            <img [src]="urlImage+c.id" class="img-thumbnail" alt="">
                                        </div>
                                        
                                    </div>        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="edit">
    <div class="row">
        <div class="col-md-12 mt-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2">
                            <button (click)="OnReturn()" class="btn btn-light"><i class="bi bi-arrow-left"></i></button>
                        </div>
                        <div class="col-md-8" style="text-align: center;"><h4>Modification de {{actualite.titre}}</h4></div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Titre</label>
                                        <input type="text" formControlName="titre" class="form-control"
                                          [(ngModel)]="actualite.titre" placeholder="au moins 3 letttres ">
                                    <p style="color: brown;"
                                        *ngIf="!formEdit.controls['titre'].valid"> (Le remier
                                        caractere doit etre une lettres majuscule ) </p>
                                    <label>Contenu</label>
                                    <textarea type="text" formControlName="contenu" class="form-control"
                                    [(ngModel)]="actualite.contenu" placeholder="au moins 3 letttres "></textarea>
                                    <p style="color: brown;"
                                        *ngIf="!formEdit.controls['contenu'].valid"> (Le
                                        premier caractere doit etre une lettres majuscule ) </p>

                                </div>
                                <div class="form-group card mt-2">
                                    <button [disabled]="!formEdit.valid" type="submit"
                                         class="btn btn-secondary px-4">Enregistrer<i
                                            class="bi bi-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                    
            </div> <br>

            <div class="card">
                <div class="card-header" style="text-align: center;">                        
                    <h4>Modification des Images</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button class="btn btn-secondary" *ngIf="!titre"
                                            (click)="OnOut1()"><i class="bi bi-arrow-left"></i></button>                                   
                                        </div>
                                        <div class="col-md-10">
                                            <h4>Image de titre</h4>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card-body">

                                    <div class="row"  *ngIf="!titre">
                                        <div class="col-10">
                                         <label class="btn btn-default p-0">
                                             <input type="file" (change)="onFileSelected($event)" />
                                         </label>
                                        </div>

                                        <div class="col-2">
                                         <button class="btn btn-secondary btn-sm" [disabled]="!selectedFile"
                                             (click)="uploadTitre()">
                                             Ajouter
                                         </button>
                                        </div>
                                    </div>
             
                                    <div class="alert alert-secondary" role="alert" *ngIf="titre">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <p>{{actualite.imageTitre.name}}</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <button (click)="OnUp1()" *ngIf="titre"
                                                     class="btn btn-light"><i class="bi bi-pencil"></i></button>
                                                </div>
                                            </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                
                                <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-2">
                                               <button class="btn btn-secondary" *ngIf="!img"
                                               (click)="OnOut()"><i class="bi bi-arrow-left"></i></button>                                   
                                            </div>
                                            <div class="col-md-8"> 
                                                <h4>Autres Images</h4>
                                            </div>
                                            <div class="col-md-2">
                                                 <button class="btn btn-secondary" *ngIf="img"
                                                 (click)="OnUp()"><i class="bi bi-plus"></i></button>                                   
                                            </div>
                                        </div>
                                </div>
                                <div class="card-body">
                                    <div class="row"  *ngIf="!img">
                                        <div class="col-10">
                                         <label class="btn btn-default p-0">
                                             <input type="file" (change)="onFileSelected($event)" />
                                         </label>
                                        </div>
                                        <div class="col-2">
                                         <button class="btn btn-secondary btn-sm" [disabled]="!selectedFile"
                                             (click)="uploadIm()">
                                             Ajouter
                                         </button>
                                        </div>
                                    </div>
             
                                    <div class="alert alert-secondary" role="alert" *ngIf="img">
                                            <div class="row" *ngFor="let i of images._embedded.images">
                                                <div class="col-md-10">
                                                    <p>{{i.name}}</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <button (click)="onDeleteImg(i)" class="btn btn-light"><i class="bi bi-trash"></i></button>
                                                </div>
                                            </div>
                                    </div> 
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</div>


