<div class="col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <a [routerLink]="['/cercles']" class="btn btn-light float-light"><i class="bi bi-arrow-left"></i></a>
                            </div>
                            <div class="col-md-10">
                                <h4>
                                    Ajout de Cercle
                                </h4>
                            </div>
                        </div>
                    
                    </div>
                       <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                           <div class="row">
                               <div class="col-md-8">
                                <div class="form-group">
                                    <label>Region</label>
                                    <select  formControlName="region" class="form-control" id=""
                                        >
                                        <option *ngFor="let p of regions"
                                            [value]="p.id">{{p.nom}} </option>
                                    </select>
                                </div>
                                   <div class="form-group">
                                    <label>Code Cercle</label>
                                    <input type="text" formControlName="code" class="form-control" placeholder="au moins 2 caracteres ">
                                    <p style="color: brown;" *ngIf="!form.controls['code'].valid"> (au moins 2 caracteres ) </p> 
                                    <label>Nom Cercle</label>
                                    <input type="text" formControlName="nom" class="form-control" placeholder="au moins 3 letttres ">
                                    <p style="color: brown;" *ngIf="!form.controls['nom'].valid"> (Le remier caractere doit etre une lettres majuscule ) </p> 
                               
                                       <label>Autre</label>
                                       <input type="text" formControlName="autre" class="form-control">
                                   </div>
                                   <br>
                                   <div class="form-group">
                                    <button  [disabled]="!form.valid" type="submit" class="btn btn-secondary px-4">Ajouter</button>
                                </div>
                               </div>
                           </div>
                        </form>
                       </div>
                </div>
            </div>
        </div>
    </div>
