<div class="container">
    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>CREATION</h5>
                </div>
                <div class="card-body" style="background-color: rgb(242, 240, 237);">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    
                                    <div class="col-md-2"></div>
                                    <div class="col-md-10">
                                        <div class="row" style="text-align: justify;">
                                            <p>
                                                Le SYNEFCT est l’aboutissement du processus
                                                d’intégration des contractuels dans les deux
                                                fonctions publiques : celle de l’Etat et celle
                                                des collectivités.
                                                En effet, depuis le début du processus
                                                d’intégration un certain nombre d’enseignants
                                                fonctionnaires des collectivités se sont
                                                organisés pour défendre leurs
                                                intérêts au cours d’une assemblée générale au
                                                bloc scientifique de Missira où un bureau a été
                                                mis en place pour la régularisation de la
                                                situation du syndicat,
                                                ce qui aboutit à l’obtention du récépissé
                                                N°002-G-DB du 22 octobre 2010.
                                            </p>
                                            <p>
                                                Il organise son 1er Congrès Ordinaire les 22 et
                                                23 décembre 2018
                                                à l’Ecole Nationale d’Ingénieurs (ENI-ABT) où un
                                                bureau de 69 membres
                                                et 15 membres de la commission Nationale de
                                                Contrôle ont été élus avec
                                                comme Secrétaire général le Camarade Ousmane
                                                ALMOUDOU, Professeur
                                                d’Enseignement secondaire général au Lycée Ba
                                                Aminata DIALLO(LBAD).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  <br>

    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>OBJECTIFS </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row" style="text-align: justify;">
                                            <ul>
                                                <li>
                                                    La défense des intérêts matériels et
                                                    moraux de ses membres
                                                </li>
                                                <li>
                                                    La défense des libertés syndicales ;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row" style="text-align: justify;">
                                            <ul>
                                                <li>
                                                    Le développement de la liberté
                                                    syndicale ;
                                                </li>
                                                <li>
                                                    La promotion et la défense de la
                                                    fonction enseignante ;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br>

    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>IMPLANTATION DU SYNDICAT</h5>
                </div>
                <div class="card-body" style="background-color: rgb(242, 240, 237);">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            Le jeune syndicat né le 22 octobre 2010, a depuis grandi et a pris des proportions nationales et a également bénéficié d’une adhésion totale de la part des fonctionnaires des collectivités. Le SYNEFCT compte :
                                        </p>
                                    
                                        <ul>
                                            <li style="margin-top: 30px;">
                                                 <b>Deux (2) sections</b>
                                            </li>
                                            <ul>
                                                <li>
                                                    La section de l’Enseignement fondamental et de l’Education préscolaire et spéciale ;
                                                </li>
                                                <li>
                                                    La section de l’Enseignement secondaire.
                                                </li>
                                            </ul>
                                            
                                            <li style="margin-top: 30px;">
                                                 <b>Onze (11) coordinations</b>
                                                 <div class="row">
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La coordination de Kayes ;</li>
                                                            <li> La coordination de Koulikoro ;</li>
                                                            <li>La coordination de Sikasso ;</li>
                                                            <li>La coordination de Ségou ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La coordination de Mopti ;</li>
                                                            <li> La coordination de Tombouctou ;</li>
                                                            <li>La coordination de Gao ;</li>
                                                            <li>La coordination de Kidal ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La coordination de Ménaka ;</li>
                                                            <li> La coordination de Taoudénit ;</li>
                                                            <li>La coordination de Bamako ;</li>
                                                        </ul>  
                                                    </div>
                                                </div>
                                                
                                            </li>
                                            
                                            <li style="margin-top: 30px;">
                                                 <b>Cinquante-quatre (54) divisions</b>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La division de Kayes ;</li>
                                                            <li> La division de Bafoulabé ;</li>
                                                            <li>La division de Kita ;</li>
                                                            <li>La division de Yélimané ;</li>
                                                            <li> La division de Kéniéba ;</li>
                                                            <li>La division de Diéma ;</li>
                                                            <li>La division de Nioro ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La division de Koulikoro ;</li>
                                                            <li>La division de Kati ;</li>
                                                            <li>La division de Kangaba ;</li>
                                                            <li>La division de Banamba ;</li>
                                                            <li>La division de Dioila ;</li>
                                                            <li>La division de Kolokani ;</li>
                                                            <li>La division de Nara ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La division de Sikasso ;</li>
                                                            <li> La division de Bougouni ;</li>
                                                            <li>La division de Koutiala ;</li>
                                                            <li>La division de Kolondiéba  ;</li>
                                                            <li> La division de Kadiolo ;</li>
                                                            <li>La division de Yanfolila ;</li>
                                                            <li> La division de Yorosso ;</li>
                                                        </ul>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La division de Ségou ;</li>
                                                            <li> La division de Niono ;</li>
                                                            <li>La division de Macina ;</li>
                                                            <li>La division de Bla ;</li>
                                                            <li> La division de Baraouli  ;</li>
                                                            <li>La division de San ;</li>
                                                            <li>La division de Tominian ;</li>
                                                            <li>La division de Kidal ;</li>
                                                            <li> La division de Tessalit ;</li>
                                                            <li>La division de Tin-insako  ;</li>
                                                            <li>La division de Mopti ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                           
                                                            <li> La division de Koro ;</li>
                                                            <li>La division de Bandiagara ;</li>
                                                            <li>La division de Bankass ;</li>
                                                            <li> La division de Douentza ;</li>
                                                            <li>La division de Youwarou ;</li>
                                                            <li>La division de Niafunké  ;</li>
                                                            <li>La division de Teninkou  ;</li>
                                                            <li>La division de Tombouctou ;</li>
                                                            <li> La division de Diré ;</li>
                                                            <li>La division de Goundam ;</li>
                                                            <li>La division de Gao ;</li>
                                                            
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            
                                                            
                                                            <li> La division de Bourem ;</li>
                                                            <li>La division d’Ansongo ;</li>
                                                            <li>La division de Taoudeni ;</li>
                                                            <li> La division de Arawane ;</li>
                                                            <li>La division de Ménaka  ;</li>
                                                            <li>La division  I  ;</li>
                                                            <li> La division  II  ;</li>
                                                            <li>La division  III ;</li>
                                                            <li>La division  IV ;</li>
                                                            <li> La division V  ;</li>
                                                            <li>La division VI ;</li>
                                                        </ul>  
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>