<div class="container">
    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>CREATION</h5>
                </div>
                <div class="card-body" style="background-color: rgb(242, 240, 237);">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    
                                    <div class="col-md-2"></div>
                                    <div class="col-md-10">
                                        <div class="row" style="text-align: justify;">
                                            <p>
                                                Le SYNEFCT est l’aboutissement du processus
                                                d’intégration des contractuels dans les deux
                                                fonctions publiques : celle de l’Etat et celle
                                                des collectivités.
                                                En effet, depuis le début du processus
                                                d’intégration un certain nombre d’enseignants
                                                fonctionnaires des collectivités se sont
                                                organisés pour défendre leurs
                                                intérêts au cours d’une assemblée générale au
                                                bloc scientifique de Missira où un bureau a été
                                                mis en place pour la régularisation de la
                                                situation du syndicat,
                                                ce qui aboutit à l’obtention du récépissé
                                                N°002-G-DB du 22 octobre 2010.
                                            </p>
                                            <p>
                                                Il organise son 1er Congrès Ordinaire les 22 et
                                                23 décembre 2018
                                                à l’Ecole Nationale d’Ingénieurs (ENI-ABT) où un
                                                bureau de 69 membres
                                                et 15 membres de la commission Nationale de
                                                Contrôle ont été élus avec
                                                comme Secrétaire général le Camarade Ousmane
                                                ALMOUDOU, Professeur
                                                d’Enseignement secondaire général au Lycée Ba
                                                Aminata DIALLO(LBAD).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  <br>

    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>OBJECTIFS </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row" style="text-align: justify;">
                                            <ul>
                                                <li>
                                                    La défense des intérêts matériels et
                                                    moraux de ses membres
                                                </li>
                                                <li>
                                                    La défense des libertés syndicales ;
                                                </li>
                                                <li>
                                                    Le développement de la liberté
                                                    syndicale ;
                                                </li>
                                                <li>
                                                    La promotion et la défense de la
                                                    fonction enseignante ;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row" style="text-align: justify;">
                                            <ul>
                                                <li>
                                                    La défense des intérêts matériels et
                                                    moraux de ses membres
                                                </li>
                                                <li>
                                                    La défense des libertés syndicales ;
                                                </li>
                                                <li>
                                                    Le développement de la liberté
                                                    syndicale ;
                                                </li>
                                                <li>
                                                    La promotion et la défense de la
                                                    fonction enseignante ;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br>

    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>IMPLANTATION DU SYNDICAT</h5>
                </div>
                <div class="card-body" style="background-color: rgb(242, 240, 237);">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            Le jeune syndicat né le 22 octobre 2010, a depuis grandi et a pris des proportions nationales et a également bénéficié d’une adhésion totale de la part des fonctionnaires des collectivités. Le SYNEFCT compte :
                                        </p>
                                    
                                        <ul>
                                            <li style="margin-top: 30px;">
                                                 <b>Deux (2) sections</b>
                                            </li>
                                            <ul>
                                                <li>
                                                    La section de l’Enseignement fondamental et de l’Education préscolaire et spéciale ;
                                                </li>
                                                <li>
                                                    La section de l’Enseignement secondaire.
                                                </li>
                                            </ul>
                                            
                                            <li style="margin-top: 30px;">
                                                 <b>Onze (11) coordinations</b>
                                                 <div class="row">
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La coordination de Kayes ;</li>
                                                            <li> La coordination de Koulikoro ;</li>
                                                            <li>La coordination de Sikasso ;</li>
                                                            <li>La coordination de Ségou ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La coordination de Mopti ;</li>
                                                            <li> La coordination de Tombouctou ;</li>
                                                            <li>La coordination de Gao ;</li>
                                                            <li>La coordination de Kidal ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La coordination de Ménaka ;</li>
                                                            <li> La coordination de Taoudénit ;</li>
                                                            <li>La coordination de Bamako ;</li>
                                                        </ul>  
                                                    </div>
                                                </div>
                                                
                                            </li>
                                            
                                            <li style="margin-top: 30px;">
                                                 <b>Cinquante-quatre (54) divisions</b>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La divisions de Kayes ;</li>
                                                            <li> La divisions de Bafoulabé ;</li>
                                                            <li>La divisions de Kita ;</li>
                                                            <li>La divisions de Yélimané ;</li>
                                                            <li> La divisions de Kéniéba ;</li>
                                                            <li>La divisions de Diéma ;</li>
                                                            <li>La divisions de Nioro ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La divisions de Koulikoro ;</li>
                                                            <li> La divisions de Kati ;</li>
                                                            <li>La divisions de Kangaba ;</li>
                                                            <li>La divisions de Banamba ;</li>
                                                            <li> La divisions de Dioila ;</li>
                                                            <li>La divisions de Kolokani ;</li>
                                                            <li>La divisions de Nara ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La divisions de Sikasso ;</li>
                                                            <li> La divisions de Bougouni ;</li>
                                                            <li>La divisions de Koutiala ;</li>
                                                            <li>La divisions de Kolondiéba  ;</li>
                                                            <li> La divisions de Kadiolo ;</li>
                                                            <li>La divisions de Yanfolila ;</li>
                                                            <li> La divisions de Yorosso ;</li>
                                                        </ul>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La coordination de Ségou ;</li>
                                                            <li> La coordination de Niono ;</li>
                                                            <li>La coordination de Macina ;</li>
                                                            <li>La coordination de Bla ;</li>
                                                            <li> La coordination de Baraouli  ;</li>
                                                            <li>La coordination de San ;</li>
                                                            <li>La coordination de Tominian ;</li>
                                                            <li>La coordination de Kidal ;</li>
                                                            <li> La coordination de Tessalit ;</li>
                                                            <li>La coordination de Tin-insako  ;</li>
                                                            <li>La coordination la commune I  ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La coordination de Mopti ;</li>
                                                            <li> La coordination de Koro ;</li>
                                                            <li>La coordination de Bandiagara ;</li>
                                                            <li>La coordination de Bankass ;</li>
                                                            <li> La coordination de Douentza ;</li>
                                                            <li>La coordination de Youwarou ;</li>
                                                            <li>La coordination de Niafunké  ;</li>
                                                            <li>La coordination de Teninkou  ;</li>
                                                            <li> La coordination la commune II  ;</li>
                                                            <li>La coordination la commune III ;</li>
                                                            <li>La coordination la commune IV ;</li>
                                                        </ul>  
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul>
                                                            <li>La coordination de Tombouctou ;</li>
                                                            <li> La coordination de Diré ;</li>
                                                            <li>La coordination de Goundam ;</li>
                                                            <li>La coordination de Gao ;</li>
                                                            <li> La coordination de Bourem ;</li>
                                                            <li>La coordination d’Ansongo ;</li>
                                                            <li>La coordination de Taoudeni ;</li>
                                                            <li> La coordination de Arawane ;</li>
                                                            <li>La coordination de Ménaka  ;</li>
                                                            <li> La coordination la commune V  ;</li>
                                                            <li>La coordination la commune VI ;</li>
                                                        </ul>  
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>