<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2">
                            <a routerLink="/citoyens" class="btn btn-light float-right">
                                <i class="bi bi-arrow-left"></i>
                            </a>

                        </div>
                        <div class="col-md-8">
                            <h4>MODIFICATION DE MOT DE PASSE </h4>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="card-body" *ngIf="user">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../assets/images/logo/pass.png" width="300" height="275">
                        </div>
                        <div class="col-md-8">
                            <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                           <div class="row">
                                               <div class="col-md-10">
                                                <input [type]="visible" formControlName="password" class="form-control"
                                            placeholder="Ancien Mot de Passe"><br>
                                                 <input [type]="visible1" formControlName="newPassword" class="form-control"
                                                 placeholder="Nouvea mot de passe"><br>
                                                 <input [type]="visible2" formControlName="confirmation" class="form-control"
                                                 placeholder="confirmation du nouveau"><br>
                                                 <div class="form-group">
                                                    <button [disabled]="!formEdit.valid" type="submit"
                                                        class="btn btn-secondary px-4">Enregistrer</button>
                                                </div>
                                               </div>
                                               <div class="col-md-2">
                                                    <button *ngIf="visible == 'password'" type="button"
                                                        (click)="onVisible()" class="btn btn-light">
                                                        <i class="bi bi-eye"></i>
                                                    </button>
                                                    <button *ngIf="visible == 'text'" type="button"
                                                        (click)="onNotVisible()" class="btn btn-light">
                                                        <i class="bi bi-eye-slash"></i>
                                                    </button> <br> <br>
                                                    <button *ngIf="visible1 == 'password'" type="button"
                                                        (click)="onVisible1()" class="btn btn-light">
                                                        <i class="bi bi-eye"></i>
                                                    </button>
                                                    <button *ngIf="visible1 == 'text'" type="button"
                                                        (click)="onNotVisible1()" class="btn btn-light">
                                                        <i class="bi bi-eye-slash"></i>
                                                    </button> <br> <br>
                                                    <button *ngIf="visible2 == 'password'" type="button"
                                                        (click)="onVisible2()" class="btn btn-light">
                                                        <i class="bi bi-eye"></i>
                                                    </button>
                                                    <button *ngIf="visible2 == 'text'" type="button"
                                                        (click)="onNotVisible2()" class="btn btn-light">
                                                        <i class="bi bi-eye-slash"></i>
                                                    </button>

                                               </div>
                                               </div>
                                           </div>
                                            
                
                                    </div>
                                </div>
                            </form>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

