<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    <a routerLink="/autres" class="btn btn-light float-right"><i class="bi bi-arrow-left"></i></a>
                </div>
                <div class="col-md-8" style="text-align: center;">
                    <h4>AJOUT  FICHIER</h4>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10" *ngIf="!currentFile">
                      <label class="btn btn-default p-0">
                        <input type="file" (change)="selectFile($event)" />
                      </label>
                    </div>
                  
                    <div class="col-2">
                      <button *ngIf="!currentFile"
                      class="btn btn-secondary btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                        Ajouter
                      </button>
                    </div>
                </div>
                  
                <div *ngIf="currentFile" class="progress my-3">
                    <div
                      class="progress-bar progress-bar-info progress-bar-striped"
                      role="progressbar"
                      attr.aria-valuenow="{{ progress }}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      [ngStyle]="{ width: progress + '%' }"
                    >
                      {{ progress }}%
                    </div>
                </div>
                          
                <div class="card mt-1">
                    <div
                      class="list-group list-group-flush"
                      *ngFor="let file of stringArray"
                    >
                    <div *ngIf="message" class="alert alert-secondary" role="alert"><p>{{ file }}</p></div>
                  </div>
                </div>
                <div class="card mt-2">
                    <button class="btn btn-secondary px-4" [disabled]="progress!=100"
                       routerLink="/autres">Terminer
                    </button>
                </div>
            </div>
    </div>
    </div>
</div>

