<div class="container">
  <div class="row">
    <div class="col-md-12 mt-8">
      <div class="card">
        <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mynavbar"
              (click)="isMenuCollapsed = !isMenuCollapsed"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse"
              [ngClass]="{'show': !isMenuCollapsed}"
              id="mynavbar"
            >
                            <ul class="navbar-nav me-auto">

                                <li class="nav-item" [ngClass]="{'active': activeMenu === 'Enrolement'}">
                                    <a class="navbar-brand" routerLink="/addCitoyen" *ngIf="isLoggedIn"
                                    (click)="closeMenu('Enrolement')">Enrolement</a>
                                </li>
                                <li class="nav-item" [ngClass]="{'active': activeMenu === 'Citoyens'}">
                                    <a class="navbar-brand" routerLink="/citoyens" *ngIf="isLoggedIn"
                                    (click)="closeMenu('Citoyens')">Citoyens</a>
                                </li>
                                <li class="nav-item" [ngClass]="{'active': activeMenu === 'Documents'}">
                                    <a class="navbar-brand" routerLink="/documents" *ngIf="isLoggedIn"
                                    (click)="closeMenu('Documents')">Documents</a>
                                </li>
                                <li class="nav-item" [ngClass]="{'active': activeMenu === 'Condamnations'}">
                                    <a class="navbar-brand" routerLink="/condamnations" *ngIf="isLoggedIn"
                                    (click)="closeMenu('Condamnations')">Condamnations</a>
                                </li>


                                <li class="nav-item dropdown" *ngIf="isUser || isAdmin"
                                [ngClass]="{'active': activeMenu === 'Collectivites'}">
                                    <a class="navbar-brand" href="#" id="navbarScrollingDropdown" *ngIf="isLoggedIn"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        (click)="closeMenu()">
                                        Collectivites
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                        <li><a class="dropdown-item" routerLink="/regions"
                                          (click)="closeMenu('Collectivites')">Regions</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" routerLink="/cercles"
                                          (click)="closeMenu('Collectivites')">Cercles</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" routerLink="/communes"
                                          (click)="closeMenu('Collectivites')">Arrondissements</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" routerLink="/vqfs"
                                          (click)="closeMenu('Collectivites')">Village Fraction Quartier</a>
                                        </li>
                                         <li></li><hr class="dropdown-divider">
                                        <li>
                                        <li><a class="dropdown-item" routerLink="/payes"
                                          (click)="closeMenu('Collectivites')">Autres Pays</a></li>
                                        <li>
                                        <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" routerLink="/villes"
                                          (click)="closeMenu('Collectivites')">Autres Villes</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown" *ngIf="isAdmin"
                                [ngClass]="{'active': activeMenu === 'Admin'}">
                                    <a class="navbar-brand" href="#" id="navbarScrollingDropdown" *ngIf="isLoggedIn"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        (click)="closeMenu()">
                                        Admin
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                        <li><a class="dropdown-item" routerLink="/users"
                                          (click)="closeMenu('Admin')">users</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" routerLink="/professions"
                                          (click)="closeMenu('Admin')">Professions</a></li>
                                        <li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- Authentification et profil -->
<ul class="navbar-nav">
  <li class="nav-item" *ngIf="!isLoggedIn">
    <a class="navbar-brand" routerLink="/login" (click)="closeMenu()"
      ></a
    >
  </li>
  <li class="nav-item dropdown" *ngIf="isLoggedIn"
  [ngClass]="{'active': activeMenu === username}"
   (click)="closeMenu()">
    <a
      class="navbar-brand"
      href="#"
      id="navbarScrollingDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ username }} <i class="bi bi-person"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a
          class="dropdown-item"
          [routerLink]="['/profil', username]"
          (click)="closeMenu(username)"
          >Profil</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          [routerLink]="['/password', username]"
          (click)="closeMenu(username)"
          >Mot de passe</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          style="cursor: pointer"
          (click)="logout(); closeMenu(username)"
          >Se déconnecter</a
        >
      </li>
    </ul>
  </li>
</ul>

            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
