<div class="container">
    <div class="row">
        <div class="col-md-12 mt-8" *ngIf="actualites">
            <div class="card">
                <div class="card-header">
                    <h5>A la une
                    </h5>
                </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7" >
                                            <carousel >
                                                <slide *ngFor="let c of actualites._embedded.actualites">
                                                    <img [src]="urlImageTitre+c.imageTitre.id" class="img-thumbnail" *ngIf="c.imageTitre">
                                                    <div class="carousel-caption clickable-div" *ngIf="authService.isloggedIn"
                                                    [routerLink]="['/detailsActualite',c.id]">
                                                      <h4>{{ c.titre }}</h4>  
                                                      </div>
                                                </slide>
                                              </carousel>
                                              
                                              
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-12 mt-8">
                                                    <div class="card">
                                                        <div class="card-header" style="text-align: center;">
                                                            <h5>Guide</h5>
                                                        </div>
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="container">
                                                                            <div class="row">
                                                                                <ul>
                                                                                    <li>Pour s'inscrire ou se connecter cliquez sur la rubrique <b>Compte</b></li>
                                                                                    <li>Pour telecharger des documents cliquez sur la rubrique <b>Documents</b></li>
                                                                                    <li>Pour suivre les actualités cliquez sur la rubrique <b>Actualites</b></li>
                                                                                </ul>
                                                                                <p style="background-color: rgb(231, 228, 225);">Pour bien profiter du site , veuillez vous inscrire et se mettre a jour 
                                                                                    concernant la cotisation annuelle. <br>
                                                                                Vous pouvez payer auprès de votre Sécretaire Général local</p>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                    </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div><br *ngIf="actualites" />

    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>Mot du Secrétaire Général</h5>
                </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row"><img src="../assets/images/sg.jpg" /></div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row" style="text-align: justify;">
                                                <p>
                                                    Chères militantes et chers militants , <br>
                                                    chers collègues , chères lectrices et chers lecteurs
                                                </p>
                                                <p>
                                                    Le Syndicat National des Enseignants Fonctionnaires des
                                                    Collectivités Territoriales (SYNEFCT) est un syndicat qui se veut
                                                    être libre, actif et solidaire.
                                                </p>
                                                <p>
                                                    Depuis sa création en 2010, le SYNEFCT a opté pour le « syndicalisme
                                                    autrement ».
                                                    C’est pourquoi, il a initié et exécuté plusieurs activités allant de
                                                    la formation
                                                    des militants à l’amélioration des conditions de vie et de travail
                                                    des enseignantes
                                                    et enseignants du Mali en général et ceux des collectivités en
                                                    particulier. <a *ngIf="!contentVisible && authService.isloggedIn" href="#" (click)="toggleContent()">
                                                        lire la suite</a> </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div  *ngIf="contentVisible" class="row content-box" style="text-align: justify;">
                            <p>
                                Aussi, faut- il ajouter la création du journal « SYNEFCT
                                INFORMATIONS » qui est une manifestation
                                de la volonté du syndicat à mieux communiquer et c’est dans cette
                                optique que nous avons décidé de
                                créer ce site qui doit répondre aux aspirations des militantes,
                                militants et sympathisants du SYNEFCT.
                            </p>
                            <p>
                                SYNEFCT, convaincu de l’importance de la communication dans la
                                réussite des différentes activités et de
                                l’intérêt de maintenir le contact avec les militants, a souhaité la
                                mise en place de cet outil combien
                                précieux aujourd’hui, dans un monde de plus en plus compétitif. <br>
                                 Sur ce site, vous pouvez :
                            </p>
                            <p>
                                
                            </p>
                            <p>
                            <ul style="list-style-type:square; margin-left: 5px;">
                                <li>Créer un compte ;</li>
                                <li>
                                    Consulter des informations relatives aux différentes activités
                                    des comités, des subdivisions, des divisions,
                                    des coordinations, des sections et du <br> Bureau exécutif national ;

                                </li>
                                <li>
                                    Trouver des fichiers relatifs aux actes administratifs
                                    (intégration, titularisation, hiérarchisation, régularisation
                                    après
                                    formation, congés de <br> formations, etc.) ;
                                </li>
                                <li>
                                    Interagir avec les administrateurs.

                                </li>
                            </ul>
                            <p>
                                Chers collègues et chers militants,
                                Au niveau du SYNEFCT, le syndicalisme autrement nous impose de faire
                                :

                            </p>
                            <ul style="margin-left: 5px;">
                                <li>
                                    le syndicalisme désintéressé ;
                                </li>
                                <li>
                                    le syndicalisme engagé ;
                                </li>
                                <li>
                                    le syndicalisme solidaire ;
                                </li>
                                <li>
                                    le syndicalisme de développement
                                </li>
                            </ul>
                            <p>
                                A toutes et à tous, nous souhaitons la bienvenue à l’univers du
                                SYNEFCT.
                            </p><p>Aw bisimila</p>
                            <p style="text-align: right;">
                                Le Secrétaire Général <br>
                                Ousmane ALMOUDOU <br>
                                Professeur Principal d’Enseignement Secondaire

                            </p>
                        </div>

                    </div>
                </div>
            </div>
            
    </div><br>

    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                    <div class="card-header" style="text-align: center;">
                        <h5>Gallerie</h5>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"
                                                src="../assets/images/sg/1.jpeg">
                                                <p>M.Salam OUEDRAGO, secrétaire adjoint </p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"  src="../assets/images/sg/2.jpeg">
                                            <p>M.Ousmane SIDIBE, 1er adjoint chargé de syndicalisation</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="img-thumbnail" src="../assets/images/sg/3.jpeg">
                                            <p>M.Mamadou Aboubacar CISSE, 2e secrétaire à la communication et aux TICS</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="img-thumbnail" src="../assets/images/sg/4.jpeg">
                                            <p>M.Mami NIARE, 1er Adjoint du secrétaire aux revendications</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
        </div>
    </div>

    <div class="row">
                <div class="col-md-12 mt-8">
                    <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img class="img-thumbnail"
                                                        src="../assets/images/sg/5.jpeg">
                                                        <p>M.Almamy maouloud</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-thumbnail" src="../assets/images/sg/6.jpeg">
                                                    <p>M.Abdoul Karim COULIBALY 3e commissaire aux comptes</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-thumbnail"
                                                        src="../assets/images/sg/7.jpeg">
                                                        <p>M.Aboubacar MAIGA secrétaire aux relations extérieures</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-thumbnail" src="../assets/images/sg/8.jpeg">
                                                    <p>2e Adjoint au secrétaire charge des activités sportives et culturelles</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                </div>
    </div>

    <div class="row">
                <div class="col-md-12 mt-8">
                    <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img class="img-thumbnail"
                                                        src="../assets/images/sg/9.jpeg">
                                                        <p>Membre de la commission de control</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-thumbnail" src="../assets/images/sg/10.jpeg">
                                                    <p>M.Hamidou GOITA, Adjoint au secrétaire à l’organisation</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-thumbnail"
                                                        src="../assets/images/sg/11.jpeg">
                                                        <p>M.Moussa TRAORE secrétaire aux finances</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-thumbnail" src="../assets/images/sg/12.jpeg">
                                                    <p>M.Mamadi DIAKITE , secrétaire  à la communication et aux TICS</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"
                                                src="../assets/images/sg/13.jpeg">
                                                <p>M.Yaya Dembélé 5 ème adjoint au secrétaire à l'organisation et aux logistiques</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="img-thumbnail" src="../assets/images/sg/14.jpeg">
                                            <p>M.Abdoulaye Sacko 1er adjoint secrétaire aux finances et à la comptabilité</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"
                                                src="../assets/images/sg/15.jpeg">
                                                <p>M.Gaoussou Dembélé 2e secrétaire général adjoint pour la formation et la syndicalisation</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="img-thumbnail" src="../assets/images/sg/16.jpeg">
                                            <p>M.Moussa M KEITA, 3ème secrétaire Adjoint à la revendication</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
        </div>
</div>

<div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"
                                                src="../assets/images/sg/17.jpeg">
                                                <p>Mme.Mah Fatoumata TRAORE 3ème secrétaire à l'organisation BEN SYNEFCT</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="img-thumbnail" src="../assets/images/sg/18.jpeg">
                                            <p>M.Adama BANGALY, Secrétaire aux revendications du BEN/SYNEFCT</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"
                                                src="../assets/images/sg/19.jpeg">
                                                <p>M.Donegué Diarra  Secrétaire adjoint au compte</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="img-thumbnail" src="../assets/images/sg/20.jpeg">
                                            <p>M.Dougakoro dit Seydou Koumaré ,Commissaire aux comptes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
        </div>
</div>
<div class="row">
    <div class="col-md-12 mt-8">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-thumbnail"
                                            src="../assets/images/sg/21.jpeg">
                                            <p>21M.Yamoudou Soumano, Secrétaire  Adjoint au droit de l'homme</p>
                                    </div>
                                    <div class="col-md-3">
                                        <img class="img-thumbnail" src="../assets/images/sg/22.jpeg">
                                        <p>Secrétaire adjoint à la syndicalisation</p>
                                    </div>
                                    <div class="col-md-3">
                                        <img class="img-thumbnail"
                                            src="../assets/images/sg/23.jpeg">
                                            <p>M.Oumar TRAORE,Secrétaire Administratif</p>
                                    </div>
                                    <div class="col-md-3">
                                        <img class="img-thumbnail" src="../assets/images/sg/24.jpeg">
                                        <p>M.Sekou KEITA,  3ème Adjoint au Secrétaire à l’Education et à la Formation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        
    </div>
</div>
     <br/>
    <div class="row">
                <div class="col-md-12 mt-8">
                    <div class="card">
                        <div class="card-header" style="text-align: center;">
                            <h5>Quelques liens inportants</h5>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6" style="text-align: center;">
                                                    <a href="https://www.drh-education.ml/">
                                                    <img class="img-fluid"
                                                        src="../assets/images/logo/logoDrh.PNG" width="200" height="160">
                                                        </a>
                                                </div>
                                                <div class="col-md-6" style="text-align: center;">
                                                    <a href="https://dgct.gouv.ml/">
                                                    <img class="img-fluid" src="../assets/images/logo/logoDgct.PNG" width="200" height="130">
                                                    </a>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
    </div>
</div>

           