<div class="container">
    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header">
                    <h5>Actualites
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <!-- Carousel -->
                                            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                                                <!-- Indicators/dots -->
                                                <div class="carousel-indicators">
                                                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0"
                                                        class="active"></button>
                                                    <button type="button" data-bs-target="#demo"
                                                        data-bs-slide-to="1"></button>
                                                    <button type="button" data-bs-target="#demo"
                                                        data-bs-slide-to="2"></button>
                                                </div>

                                                <!-- The slideshow/carousel -->
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img src="../assets/images/tree-736885_1280.jpg"
                                                            alt="Los Angeles" class="d-block" style="width:100%">
                                                        <div class="carousel-caption">
                                                            <h3>Los Angeles</h3>
                                                            <p>We had such a great time in LA!</p>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="../assets/images/mali-slonpics.jpg" alt="Chicago"
                                                            class="d-block" style="width:100%">
                                                        <div class="carousel-caption">
                                                            <h3>Chicago</h3>
                                                            <p>Thank you, Chicago!</p>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="../assets/images/drapeau.jpg" alt="New York"
                                                            class="d-block" style="width:100%">
                                                        <div class="carousel-caption">
                                                            <h3>New York</h3>
                                                            <p>We love the Big Apple!</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Left and right controls/icons -->
                                                <button class="carousel-control-prev" type="button"
                                                    data-bs-target="#demo" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon"></span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                    data-bs-target="#demo" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />


    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>Mot du Secrétaire Général
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row"><img src="../assets/images/sg.jpg" /></div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row" style="text-align: justify;">
                                                <p>
                                                    Chères militantes et chers militants , <br>
                                                    chers collègues , chères lectrices et chers lecteurs
                                                </p>
                                                <p>
                                                    Le Syndicat National des Enseignants Fonctionnaires des
                                                    Collectivités Territoriales (SYNEFCT) est un syndicat qui se veut
                                                    être libre, actif et solidaire.
                                                </p>
                                                <p>
                                                    Depuis sa création en 2010, le SYNEFCT a opté pour le « syndicalisme
                                                    autrement ».
                                                    C’est pourquoi, il a initié et exécuté plusieurs activités allant de
                                                    la formation
                                                    des militants à l’amélioration des conditions de vie et de travail
                                                    des enseignantes
                                                    et enseignants du Mali en général et ceux des collectivités en
                                                    particulier. <a *ngIf="!contentVisible" href="#" (click)="toggleContent()">
                                                        lire la suite</a> </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="contentVisible" class="row content-box" style="text-align: justify;">
                            <p>
                                Aussi, faut- il ajouter la création du journal « SYNEFCT
                                INFORMATIONS » qui est une manifestation
                                de la volonté du syndicat à mieux communiquer et c’est dans cette
                                optique que nous avons décidé de
                                créer ce site qui doit répondre aux aspirations des militantes,
                                militants et sympathisants du SYNEFCT.
                            </p>
                            <p>
                                SYNEFCT, convaincu de l’importance de la communication dans la
                                réussite des différentes activités et de
                                l’intérêt de maintenir le contact avec les militants, a souhaité la
                                mise en place de cet outil combien
                                précieux aujourd’hui, dans un monde de plus en plus compétitif. <br>
                                 Sur ce site, vous pouvez :
                            </p>
                            <p>
                                
                            </p>
                            <ul style="list-style-type:square;">
                                <li>Créer un compte ;</li>
                                <li>
                                    Consulter des informations relatives aux différentes activités
                                    des comités, des subdivisions, des divisions,
                                    des coordinations, des sections et du Bureau exécutif national ;

                                </li>
                                <li>
                                    Trouver des fichiers relatifs aux actes administratifs
                                    (intégration, titularisation, hiérarchisation, régularisation
                                    après
                                    formation, congés de formations, etc.) ;
                                </li>
                                <li>
                                    Interagir avec les administrateurs.

                                </li>
                            </ul>
                            <p>
                                Chers collègues et chers militants,
                                Au niveau du SYNEFCT, le syndicalisme autrement nous impose de faire
                                :

                            </p>
                            <ul>
                                <li>
                                    le syndicalisme désintéressé ;
                                </li>
                                <li>
                                    le syndicalisme engagé ;
                                </li>
                                <li>
                                    le syndicalisme solidaire ;
                                </li>
                                <li>
                                    le syndicalisme de développement
                                </li>
                            </ul>
                            <p>
                                A toutes et à tous, nous souhaitons la bienvenue à l’univers du
                                SYNEFCT.
                            </p><p>Aw bisimila</p>
                            <p style="text-align: right;">
                                Le Secrétaire Général <br>
                                Ousmane ALMOUDOU <br>
                                Professeur Principal d’Enseignement Secondaire

                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-12 mt-8">
                    <div class="card">
                        <div class="card-header" style="text-align: center;">
                            <h5>Gallerie
                            </h5>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img class="img-fluid rounded-circle"
                                                        src="../assets/images/sg/0-lionel-messi.jpg">
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-fluid" src="../assets/images/sg/R.jpg">
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-fluid rounded-circle"
                                                        src="../assets/images/sg/R (1).jpg">
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-fluid" src="../assets/images/sg/R (2).jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-8">
                    <div class="card">
                        <div class="card-header">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img class="img-fluid rounded-circle"
                                                        src="../assets/images/sg/0-lionel-messi.jpg">
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-fluid" src="../assets/images/sg/R.jpg">
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-fluid rounded-circle"
                                                        src="../assets/images/sg/R (1).jpg">
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-fluid" src="../assets/images/sg/R (2).jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-8">
                    <div class="card">
                        <div class="card-header" style="text-align: center;">
                            <h5>Quelques liens inportants
                            </h5>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img class="img-fluid rounded-circle"
                                                        src="../assets/images/sg/0-lionel-messi.jpg">
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-fluid" src="../assets/images/sg/R.jpg">
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-fluid rounded-circle"
                                                        src="../assets/images/sg/R (1).jpg">
                                                </div>
                                                <div class="col-md-3">
                                                    <img class="img-fluid" src="../assets/images/sg/R (2).jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

           