<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2">
                            <a routerLink="/" class="btn btn-light float-right">
                                <i class="bi bi-arrow-left"></i>
                            </a>

                        </div>
                        <div class="col-md-8">
                            <h4>MODIFICATION DE MOT DE PASSE </h4>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="card-body" *ngIf="militant">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../assets/images/logo/pass.png" width="300" height="275">
                        </div>
                        <div class="col-md-8">
                            <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="hidden" formControlName="matricule" class="form-control"
                                                [(ngModel)]="militant.matricule" >
                                            <input type="hidden" formControlName="telephone" class="form-control"
                                                [(ngModel)]="militant.telephone" >
                                            <input type="hidden" formControlName="nom" class="form-control"
                                             [(ngModel)]="militant.nom" placeholder="au moins 3 letttres ">
                                            <input type="hidden" formControlName="prenom" class="form-control"
                                                [(ngModel)]="militant.prenom">
                                            <input type="hidden" formControlName="poste" class="form-control"
                                                [(ngModel)]="militant.poste" placeholder="au plus 10 chiffres">
                                            <input type="hidden" formControlName="genre" class="form-control"
                                                [(ngModel)]="militant.genre" >
                                            <input type="hidden" formControlName="section" class="form-control"
                                                [(ngModel)]="militant.section" >
                                            <input type="hidden" formControlName="division" class="form-control"
                                                [(ngModel)]="division._links.self.href"
                                                placeholder="au moins 3 letttres ">
                                            <input type="hidden" formControlName="subdivision" class="form-control"
                                                [(ngModel)]="militant.subdivision">
                                            <input type="hidden" formControlName="comite" class="form-control"
                                                [(ngModel)]="militant.comite" placeholder="au plus 10 chiffres">
                                            <input type="hidden" formControlName="statut" class="form-control"
                                                [(ngModel)]="militant.statut" placeholder="au plus 10 chiffres">
        
                                                
                                                <input type="hidden" formControlName="password1" class="form-control"
                                                [(ngModel)]="militant.motDePasse" placeholder="au plus 10 chiffres">
                                                <input type="password" formControlName="actuelPassword" class="form-control"
                                                 placeholder="Actuel mot de passe"><br>
                                                 <div class="alert alert-danger" *ngIf="erreur==1">
                                                    <strong>mot de passe erronés introuvable</strong>
                                                </div>
        
                                                 <input type="password" formControlName="motDePasse" class="form-control"
                                                 placeholder="Nouvea mot de passe"><br>
                                                 <input type="password" formControlName="confirmPassword" class="form-control"
                                                 placeholder="confirmation du nouveau"><br>
                                                 <div class="alert alert-danger" *ngIf="erreur1==1">
                                                    <strong>mot de passe et confirmation differentes ...</strong>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <button [disabled]="!formEdit.valid" type="submit"
                                                class="btn btn-secondary px-4">Enregistrer</button>
                                        </div>
                
                                    </div>
                                </div>
                            </form>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

